        <style>

            :root {
                --header-image: url('https://raw.githubusercontent.com/nootisyes124/siteassets/refs/heads/main/My%20Nekoweb%20site!_files/headerwow.gif');

                --content: #000000;
            }
            @font-face {
                font-family: Nunito;
                src: url('/home/izzy/Downloads/My Nekoweb site!_files/PerfectDOSVGA437Win.ttf');
            }

            @font-face {
                font-family: Nunito;
                src: url('/home/izzy/Downloads/My Nekoweb site!_files/PerfectDOSVGA437Win.ttf');
                font-weight: bold;
            }

            @font-face {
                font-family: Nunito;
                src: url('/home/izzy/Downloads/My Nekoweb site!_files/PerfectDOSVGA437Win.ttf');
                font-style: italic;
            }

            @font-face {
                font-family: Nunito;
                src: url('/home/izzy/Downloads/My Nekoweb site!_files/PerfectDOSVGA437Win.ttf');
                font-style: italic;
                font-weight: bold;
            }

            body {
                font-family: 'Nunito', sans-serif;
                margin: 0;
                background-color: #000000;
                background-size: 65px;
                color: #8f6ceb;
            }

            * {
                box-sizing: border-box;
            }

            /* below this line is CSS for the layout */

            #container {
                max-width: 900px;
                /* this is the width of your layout! */
                /* if you change the above value, scroll to the bottom
      and change the media query according to the comment! */
                margin: 0 auto;
            }

            /* the area below is for all links on your page
    EXCEPT for the navigation */
            #container a {
                color: #8f6ceb;
                font-weight: bold;
            }

            #header {
                width: 100%;
                background-color: #000000;
                height: 150px;
                /* this is only for a background image! */
                background-image: var(--header-image);
                background-size: 100%;
            }

            /* navigation section!! */
            #navbar {
                height: 40px;
                background-color: #000000;
                /* navbar color */
                width: 100%;
            }

            #navbar ul {
                display: flex;
                padding: 0;
                margin: 0;
                list-style-type: none;
                justify-content: space-evenly;
            }

            #navbar li {
                padding-top: 10px;
            }

            /* navigation links*/
            #navbar li a {
                color: #8f6ceb;
                /* navbar text color */
                font-weight: 800;
                text-decoration: none;
                /* this removes the underline */
            }

            /* navigation link when a link is hovered over */
            #navbar li a:hover {
                color: #b3a0e6;
                text-decoration: underline;
            }

            #flex {
                display: flex;
            }

            /* this is the color of the main content area */
            main {
                background-color: #000000;
                flex: 1;
                padding: 20px;
                order: 2;
            }

            footer {
                background-color: #000000;
                /* background color for footer */
                width: 100%;
                height: 40px;
                padding: 10px;
                text-align: center;
                /* this centers the footer text */
            }

            h1,
            h2,
            h3 {
                color: #8f6ceb;
            }

            h1 {
                font-size: 25px;
            }

            strong {
                /* this styles bold text */
                color: #8f6ceb;
            }

            /* this is just a cool box, it's the darker colored one */
            .box {
                background-color: #000000;
                border: 1px solid #8f6ceb;
                padding: 10px;
            }

            /* CSS for extras */

            #topBar {
                width: 100%;
                height: 30px;
                padding: 10px;
                font-size: smaller;
                background-color: #000000;
            }
/* Container styles */
.scrolling-text-container {
    background-color: #00000000;
    border-radius: 4px;
    overflow: hidden;
}

/* Inner container styles */
.scrolling-text-inner {
    display: flex;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 0;
}

/* Text styles */
.scrolling-text {
    display: flex;
}

.scrolling-text-item {
    padding: 0 30px;
}

/* Apply the animation to the text items */
.scrolling-text-inner>div {
    animation: var(--direction) var(--marquee-speed) linear infinite;
}

/* Pause the animation when a user hovers over it */
.scrolling-text-container:hover .scrolling-text-inner>div {
    animation-play-state: paused;
}

/* Setting the Animation using Keyframes */
@keyframes scroll-left {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes scroll-right {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
    }
}

            /* BELOW THIS POINT IS MEDIA QUERY */


            @media only screen and (max-width: 800px) {
                #flex {
                    flex-wrap: wrap;
                }

                aside {
                    width: 100%;
                }
                main {
                    order: 1;

                }

                #navbar ul {
                    flex-wrap: wrap;
                }
            }
        </style>
